@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------!ROOT---------------------------------------------------------------------------------------------*/
/*------------------!однотипные---------------------------------------------------------------------------------------------*/
body {
  background-color: #0f1148;
  font-family: sans-serif;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header__container {
  padding: 20px 20px;
}

.header__body {
  z-index: 1000;
  background-color: #0f1148;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  list-style: none;
}

.header__item a {
  color: #b5b5b5;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 20px;
}

.header__item a:hover {
  color: white;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  text-align: center;
  border: 1px solid orange;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;
  color: orange;
}

.border {
  border-radius: 5px;
  text-align: center;
  border: 1px solid orange;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;
  color: orange;
}

.border:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.border a {
  color: orange;
}

.orange {
  background-color: orange;
  border-radius: 5px;
}

.orange:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.orange a {
  color: white;
}

.page {
  height: 100%;
}

.page__main {
  margin-top: 104px;
  height: 100%;
}

.page__container {
  max-height: 100%;
  padding: 20px 20px;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.page__items {
  margin-top: 30px;
  width: 439px;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.page__subtitle {
  margin-top: 19px;
}

.page__buttons {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.page__button {
  text-align: center;
  border: 1px solid orange;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;
  color: orange;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.page__picture {
  width: 1000px;
}

.page__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  gap: 10px;
}

.page__video {
  border-radius: 5px;
  margin-right: 20px;
}

.page__item {
  width: 90%;
  aspect-ratio: 2 / 1;
}

.page__video-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__description {
  justify-self: flex-start;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6d6d78;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  /* or 114% */
  /* T2 */
  color: #99efd0;
}

.subtitle {
  font-family: "Gilroy-SemiBold";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a99fc6;
}

.partners {
  position: relative;
}

.partners::before {
  content: "";
  position: absolute;
  background-image: url("../img/background_lines/01.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 100px;
  width: 40%;
  height: 554px;
  opacity: 0.1;
}

.partners::after {
  content: "";
  position: absolute;
  background-image: url("../img/background_lines/02.svg");
  background-repeat: no-repeat;
  top: 0;
  right: 0px;
  width: 20%;
  height: 554px;
  opacity: 0.1;
}

.partners__body {
  margin-top: 91px;
  position: relative;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item img {
  opacity: 0.4;
}

.advantages__container {
  margin-top: 98px;
}

.advantages__body {
  margin: 0 auto;
  text-align: center;
}

.advantages__title {
  margin-bottom: 13px;
}

.advantages__subtitle {
  margin-bottom: 50px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__card {
  max-width: 299px;
  min-height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.advantages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__subtitle {
  text-align: left;
}

.card-title {
  font-family: "Gilroy-Bold";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #99efd0;
}

.card-subtitle {
  font-family: "Gilroy-SemiBold";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #a99fc6;
}

.traffic {
  position: relative;
}

.traffic::after {
  content: "";
  background-image: url("../img/background_lines/03.svg");
  width: 700px;
  height: 100%;
  bottom: -300px;
  left: -200px;
  position: absolute;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1) rotate(-120deg);
          transform: scaleX(-1) rotate(-120deg);
}

.traffic__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.traffic__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  max-width: 470px;
  max-height: 279px;
  margin-left: 79px;
}

.traffic__title {
  line-height: 50px;
}

.traffic__title span {
  color: orange;
}

.traffic__pictures {
  position: relative;
  width: 440.67px;
  height: 399.56px;
}

.traffic__stats {
  position: absolute;
  top: 17px;
  left: 0;
  z-index: 10;
}

.traffic__dots {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 7;
}

.traffic__arrow {
  position: absolute;
  bottom: -60px;
  right: 208px;
  z-index: 9;
}

.traffic__picture {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 8;
}

.batton {
  text-align: center;
  border: 1px solid orange;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;
  color: white;
}

.achievements__body {
  margin-top: 195px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievements__title span {
  color: orange;
}

.achievements__subtitle {
  max-width: 414px;
}

.achievements__numbers {
  width: 100%;
}

.achievements__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievements__block {
  max-width: 291px;
  max-height: 118px;
}

.achievements__block-subtitle {
  padding: 0 20px;
}

.project__body {
  margin-top: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
  height: 545px;
  position: relative;
}

.project__body::after {
  content: "";
  position: absolute;
  background-image: url("../img/project/Group.svg");
  background-repeat: no-repeat;
  width: 1203px;
  height: 400px;
  bottom: -70px;
  right: -80px;
}

.project__body::before {
  content: "";
  position: absolute;
  background-image: url("../img/project/01.svg");
  background-repeat: no-repeat;
  width: 823px;
  height: 100%;
  bottom: -70px;
  right: 100px;
}

.project__title span {
  color: orange;
}

.project__batton {
  position: relative;
}

.project__batton a {
  line-height: 3;
  padding: 0px 30px;
}

.business__container {
  margin-top: 150px;
}

.business__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 230px;
  position: relative;
}

.business__body::after {
  content: url("/img/business/Object.svg");
  position: absolute;
  right: -50%;
  z-index: 1;
}

.business__info {
  max-width: 470px;
  max-height: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-top: 49px;
}

.business__title span {
  color: orange;
}

.business__card {
  max-width: 260px;
  max-height: 440px;
  position: relative;
  margin-right: 115px;
  z-index: 6;
}

.business__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.business__picture {
  -o-object-fit: fill;
     object-fit: fill;
}

.business__picture img {
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 260px;
}

.business__stats {
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.business__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.business__img {
  position: absolute;
  left: -100px;
  top: 80px;
}

.second__text {
  position: absolute;
  width: 115px;
  height: 65px;
  right: -115px;
  top: 246px;
  background-color: #516ea9;
  border-radius: 0 5px 5px 0;
  padding: 15px;
}

.second__text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}

.second__text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 0.8;
}

.card__title-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212b36;
}

.card__subtitle-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #637381;
}

.card__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #13c296;
}

.card__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #98a4af;
}

.card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__stats span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  color: #212b36;
}

.card__stats p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #637381;
}

.help {
  position: relative;
}

.help::after {
  content: "";
  background-image: url("../img/help/rain.svg");
  width: 700px;
  height: 100%;
  bottom: 0px;
  right: -400px;
  position: absolute;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1) rotate(-120deg);
          transform: scaleX(-1) rotate(-120deg);
}

.help__container {
  margin-top: 165px;
}

.help__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 84px;
}

.help__picure {
  position: relative;
  width: 493px;
  height: 446px;
}

.help__picture-main {
  position: absolute;
  bottom: 0;
  left: 40px;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 10;
}

.help__picture-main img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 373px;
}

.help__lines {
  position: absolute;
  left: -40px;
  bottom: 60px;
  z-index: 9;
}

.help__dots-top {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 8;
}

.help__dots-middle {
  position: absolute;
  bottom: 149px;
  right: 0;
  z-index: 7;
}

.help__info {
  max-width: 510px;
  max-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.help__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height, or 123% */
  letter-spacing: 0.325px;
  /* T2 */
  color: #99efd0;
}

.help__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  letter-spacing: 0.2px;
  /* T1 */
  color: #a99fc6;
}

.help__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.help__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.help__card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  /* T2 */
  color: #99efd0;
}

.help__card-subtitle {
  font-family: "Gilroy-SemiBold";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #a99fc6;
}

.form {
  position: relative;
}

.form:before {
  content: "";
  background-image: url("/img/form/Group.svg");
  width: 100%;
  height: 100%;
  top: -50px;
  left: 0;
  position: absolute;
  z-index: -1;
}

.form__container {
  margin-top: 150px;
}

.form__body {
  margin: 0 auto;
  max-width: 940px;
  max-height: 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 50px 150px;
  background-color: #2a2a52;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
  z-index: 200;
}

.form__title {
  color: orange;
  font-size: 36px;
  margin-bottom: 15px;
}

.form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  color: white;
}

.form__input input {
  width: 288px;
  height: 56px;
  background-color: #353568;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
  padding: 0px 10px;
  color: white;
}

.form__btn {
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  width: 100%;
}

.form__btn span {
  padding: 0px 45px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.form__recommendation {
  font-family: "Gilroy-SemiBold";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  /* T1 */
  color: #8476aa;
}

.footer__container {
  margin-top: 185px;
}

.footer__body {
  max-width: 992px;
  max-height: 437px;
  margin-bottom: 100px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  color: orange;
  font-size: 26px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__columns {
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__columns-title {
  margin-bottom: 25px;
}

.footer__link {
  margin-bottom: 12px;
}

.columns-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.columns-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  letter-spacing: 0.2px;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .traffic__info {
    margin-bottom: 50px;
  }
  .traffic__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project__body::after {
    content: "";
    position: absolute;
    background-image: url("../img/project/Group.svg");
    background-repeat: no-repeat;
    width: 1203px;
    height: 400px;
    bottom: -70px;
    right: -150px;
  }
  .project__body::before {
    content: "";
    position: absolute;
    background-image: url("../img/project/01.svg");
    background-repeat: no-repeat;
    width: 823px;
    height: 100%;
    bottom: -70px;
    right: 50px;
  }
  .business__body::after {
    right: -5%;
  }
  .help__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 859px) {
  .business__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 780px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger:nth-child(2n) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__items {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 100px 0px 0px 0px;
    z-index: 3;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    font-size: 24px;
  }
  .header__items.active {
    top: 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 10px;
    z-index: 4;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .header__burger.active {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header__burger.active::before {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .header__burger.active::after {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  .header__burger::after {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
  }
  .page__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .traffic__info {
    max-width: 100%;
    margin-left: 30px;
  }
  .achievements__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .project__body::after {
    content: "";
    position: absolute;
    background-image: url("../img/project/Group.svg");
    background-repeat: no-repeat;
    width: 1203px;
    height: 400px;
    bottom: -70px;
    right: -230px;
  }
  .project__body::before {
    content: "";
    position: absolute;
    background-image: url("../img/project/01.svg");
    background-repeat: no-repeat;
    width: 823px;
    height: 100%;
    bottom: -70px;
    right: 20px;
  }
  .business__body::after {
    right: -3%;
    top: 20%;
  }
  .business__body {
    gap: 100px;
  }
  .help__picture-main {
    position: absolute;
    top: 30px;
    left: 80px;
    -o-object-fit: fill;
       object-fit: fill;
    z-index: 10;
  }
  .help__picture-main img {
    max-width: 300px;
  }
  .help__lines {
    position: absolute;
    left: 10px;
    bottom: 100px;
    z-index: 9;
  }
  .help__dots-top {
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 8;
  }
  .help__dots-middle {
    position: absolute;
    bottom: 149px;
    right: 80px;
    z-index: 7;
  }
  .form__body {
    max-height: 500px;
    padding: 30px 50px;
  }
  .footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .header__body {
    gap: 10px;
  }
  .page__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
  }
  .page__item {
    width: 130%;
    height: 130%;
  }
  .partners__row {
    gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project__body::after {
    content: "";
    position: absolute;
    background-image: url("../img/project/Group.svg");
    background-repeat: no-repeat;
    width: 1203px;
    height: 400px;
    bottom: -150px;
    right: -400px;
  }
  .project__body::before {
    content: "";
    position: absolute;
    background-image: url("../img/project/01.svg");
    background-repeat: no-repeat;
    width: 823px;
    height: 100%;
    bottom: -70px;
    right: -50px;
  }
  .business__img {
    position: absolute;
    left: 170px;
    top: 80px;
  }
  .second__text {
    position: absolute;
    width: 100px;
    height: 65px;
    right: -100px;
    top: 246px;
    background-color: #516ea9;
    border-radius: 0 5px 5px 0;
    padding: 15px 5px 10px 5px;
  }
  .second__text span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
  }
  .second__text p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #ffffff;
    opacity: 0.8;
  }
  .help__picture-main {
    position: absolute;
    top: 30px;
    left: 130px;
    -o-object-fit: fill;
       object-fit: fill;
    z-index: 10;
  }
  .help__picture-main img {
    max-width: 250px;
  }
  .help__lines {
    position: absolute;
    left: 70px;
    bottom: 170px;
    z-index: 9;
  }
  .help__lines img {
    max-width: 90px;
  }
  .help__dots-top {
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 8;
  }
  .help__dots-middle {
    position: absolute;
    bottom: 180px;
    right: 80px;
    z-index: 7;
  }
  .form__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .form:before {
    background-repeat: no-repeat;
  }
  .form__container {
    margin-top: 70px;
  }
  .form__input input {
    border-radius: 5px;
  }
  .form__btn {
    border-radius: 5px;
    height: 100%;
    width: 50%;
  }
  .form__btn span {
    padding: 20px 45px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    /* identical to box height, or 167% */
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
