@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  cursor: default;
  font-family: "Roboto";
  font-size: 10px;
}

.wrapper {
  max-width: 100%;
  min-height: 100%;
}

.container {
  max-width: 1276px;
  min-height: 100%;
  margin: 0 auto;
}

header {
  height: 100vh;
}

.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("../img/BG-header.jpg");
  width: 100%;
  display: block;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header:before {
  content: "";
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__logo img {
  max-width: 130px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px 0px 40px 0px;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.header__menu a {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(yellow), to(green));
  background-image: linear-gradient(90deg, yellow, green);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

.header__menu a:hover {
  background-size: 100% 2px;
}

.header__burger {
  display: none;
}

.header__title {
  position: relative;
  font-size: 80px;
  color: white;
  text-align: center;
  margin-top: 15%;
}

.header__subtitle {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

.header__btn {
  position: relative;
  max-width: 255px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background-color: #fbad27;
  padding-top: 16px;
  border-radius: 24px;
}

.header__btn span {
  color: white;
  font-size: 16px;
}

.header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn {
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/*
! WELCOME DIV
*/
.welcome {
  max-width: 974px;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
}

.welcome__subtitle {
  font-size: 16px;
  margin-bottom: 15%;
  line-height: 1.56;
  letter-spacing: 0.32px;
  text-align: center;
  color: #757575;
}

.welcome__content {
  position: relative;
}

.welcome__content::after {
  content: "";
  position: absolute;
  bottom: -70px;
  right: 0px;
  background-color: #989faa;
  width: 100%;
  height: 1px;
}

.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__card {
  -webkit-transition: all ease 800ms;
  transition: all ease 800ms;
  text-align: center;
  width: 309px;
  height: 309px;
  margin: 0px 22px 10% 0px;
  padding: 80px 50px 50px 50px;
  border: 1px solid #a09e9e;
  border-radius: 10px;
}

.welcome .welcome__card.hover:hover {
  background-size: cover;
  text-align: left;
  border: 1px solid #cccccc;
  border-radius: 15px;
  padding: 70px 20px 20px 20px;
  -webkit-box-shadow: 20px 15px 10px gray;
          box-shadow: 20px 15px 10px gray;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.welcome .welcome__card.hover:hover .welcome__cardtext {
  position: relative;
  opacity: 1;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.welcome .welcome__card.hover:hover .welcome__cardtitle {
  position: relative;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.welcome .welcome__card.hover:hover .welcome__icon {
  position: relative;
  margin: 0;
  -webkit-transition-duration: all 1s;
          transition-duration: all 1s;
}

.welcome__items {
  height: 189px;
  width: 203px;
}

.welcome__icon {
  width: 42px;
  height: 40px;
  margin: 0 auto;
}

.welcome__cardtitle {
  margin: 30px 0px 30px 0px;
  font-size: 18px;
  color: #4a4a4a;
}

.welcome__cardtext {
  opacity: 0;
  font-size: 16px;
  color: #757575;
}

.first {
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 800ms;
  transition: all ease 800ms;
}

.welcome__card.first.hover:hover {
  background-image: url("../img/Best Price.jpg");
  background-position: center;
}

.welcome__card.first.hover:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.second {
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 800ms;
  transition: all ease 800ms;
}

.welcome__card.second.hover:hover {
  background-image: url("../img/Best travel.jpg");
  background-position: center;
}

.welcome__card.second.hover:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.third {
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 800ms;
  transition: all ease 800ms;
}

.welcome__card.third.hover:hover {
  background-image: url("../img/Trast Safety.jpg");
  background-position: right;
}

.welcome__card.third.hover:hover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  margin: 0px 0px 30px 0px;
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: 1px;
  text-align: center;
  color: #4a4a4a;
}

/*
	! FIND DIV	
*/
.find__content {
  max-width: 1600px;
  margin: 0 auto;
}

.find .container {
  max-width: 100%;
  max-height: 100%;
}

.find__title {
  margin-top: 15%;
}

.find__subtitle {
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-align: center;
  color: #616161;
}

.find__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.find__row::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0;
  background-color: #ededed;
  width: 100%;
  height: 1px;
}

.find__card {
  width: 395px;
  height: 400px;
  background-color: #b2b2b2;
  margin: 5% 2.5% 5% 2.5%;
  position: relative;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.find__card:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.find__card:hover {
  -webkit-box-shadow: 30px 20px 20px gray;
          box-shadow: 30px 20px 20px gray;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.find__cardtitle {
  margin-top: 50px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.46;
  letter-spacing: 0.48px;
  color: #fff;
  position: relative;
}

.secondrow {
  margin-top: 0px;
}

.Thailand {
  background-image: url("../img/Thailand.jpg");
  background-size: cover;
}

.Australia {
  background-image: url("../img/Australia.jpg");
  background-size: cover;
  background-position: right;
}

.Indonesia {
  background-image: url("../img/Indonesia.jpg");
  background-size: cover;
}

.France {
  background-image: url("../img/France.jpg");
  background-size: cover;
  background-position: right;
}

.Malaysia {
  background-image: url("../img/Malaysia.jpg");
  background-size: cover;
}

.UAE {
  background-image: url("../img/UAE.jpg");
  background-size: cover;
}

.subtitle {
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-align: center;
  color: #616161;
}

/*
	! BLOG DIV	
*/
.Blog .container {
  max-width: 1335px;
  margin: 0 auto;
  padding: 0px 20px;
}

.Blog__content {
  margin-top: 5%;
  padding-bottom: 100px;
  position: relative;
}

.Blog__content::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #ededed;
  width: 1300px;
  height: 1px;
}

.Blog__subtitle {
  margin-bottom: 134px;
}

.Blog__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 286px))[4];
      grid-template-columns: repeat(4, minmax(10rem, 286px));
  -ms-grid-rows: (minmax(5rem, 207px))[3];
      grid-template-rows: repeat(3, minmax(5rem, 207px));
  gap: 50px;
}

.Blog__item {
  max-width: 100%;
  max-height: 100%;
}

.Blog__item.item_1 {
  background-image: url(../img/places/Background.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.Blog__item.item_2 {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.Blog .picture_1 {
  max-width: 286px;
  min-height: 207px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.Blog__item.item_3 {
  background-image: url(../img/places/Travel.jpg);
  background-size: cover;
}

.Blog__item.item_4 {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.Blog .picture_2 {
  max-width: 286px;
  min-height: 207px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.Blog .Shimatext {
  margin: 25px 25px 20px 25px;
  font-size: 16px;
  letter-spacing: 0.32px;
  text-align: left;
  color: #757575;
  line-height: 1.56;
}

.Blog__item.item_5 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.Blog .picture_3 {
  max-width: 286px;
  min-height: 207px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.Blog .text_3 {
  max-height: 250px;
  overflow: hidden;
}

.Blog .Istunbul {
  margin: 20px;
  font-size: 25px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4a4a4a;
}

.Blog .Istunbultext {
  margin: 20px;
  font-size: 16px;
  letter-spacing: 0.32px;
  text-align: left;
  color: #757575;
  line-height: 1.56;
}

.Blog__item.item_6 {
  background-image: url(../img/places/Journey.jpeg);
  background-size: cover;
}

.Blog__btn {
  color: white;
  position: relative;
  width: 255px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background-color: #fbad27;
  padding-top: 16px;
  border-radius: 24px;
  margin-top: 122px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.Blog__btn span {
  color: white;
  font-size: 16px;
}

.Blog__btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn {
  color: white;
}

.blogtitle {
  margin: 25px 25px 20px 25px;
  font-size: 25px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4a4a4a;
}

.text {
  margin: 25px 25px 20px 25px;
  font-size: 16px;
  letter-spacing: 0.32px;
  text-align: left;
  color: #757575;
  line-height: 1.56;
}

/*
	! COMMENTS DIV

*/
.comments .container {
  max-width: 1440px;
  margin: 0 auto;
}

.comments__content {
  margin: 7% 0px 15% 0px;
  max-height: 800px;
  position: relative;
}

.comments__text {
  margin-bottom: 91px;
}

.comments__card {
  max-width: 805px;
  margin: 67px auto;
  -webkit-box-shadow: 0px 0px 40px #b4b2b2;
          box-shadow: 0px 0px 40px #b4b2b2;
  border-radius: 10px;
  position: relative;
}

.comments__card:before {
  content: '"';
  font-family: Roboto-Medium;
  font-style: italic;
  position: absolute;
  top: -120px;
  left: -120px;
  font-size: 200px;
  color: rgba(153, 153, 153, 0.1);
}

.comments__card:after {
  content: " '' ";
  font-family: Roboto-Medium;
  font-style: italic;
  position: absolute;
  right: -100px;
  font-size: 200px;
  color: rgba(153, 153, 153, 0.1);
}

.comments__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.comments__card-avatar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0px 12px 59px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 59px 0 rgba(0, 0, 0, 0.08);
}

.comments__card-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 12px 59px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 59px 0 rgba(0, 0, 0, 0.08);
  background-color: #b2b2b2;
}

.comments__card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  font-size: 16px;
  line-height: 1.56;
  padding-left: 15px;
  text-align: left;
  color: #616161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments__card-name {
  font-size: 16px;
  font-weight: bold;
  color: #fbad27;
}

.comments__card-place {
  font-size: 16px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  max-width: 100%;
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.comments__slider {
  position: relative;
  /* Активная точка */
  /* Элемент точки */
}

.comments__slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 48px;
  height: 48px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.comments__slider .slick-arrow.slick-prev {
  left: 0;
  background: url(/img/arrows/icons8-шеврон-влево-48.png) 0 0 no-repeat;
  z-index: 10;
}

.comments__slider .slick-arrow.slick-next {
  right: 0;
  background: url(/img/arrows/icons8-шеврон-вправо-48.png) 0 0 no-repeat;
  z-index: 10;
}

.comments__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments__slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.comments__slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.book .container {
  max-width: 100%;
}

.book__content {
  width: 100%;
  margin: 0 auto;
  max-height: 350px;
  background-color: #fbad27;
}

.book__row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  font-size: 40px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #fff;
}

.book__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  width: 100%;
}

.book__btn span {
  width: 100%;
  color: white;
  line-height: 32px;
  padding: 12px 64px;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
  border: solid 2px #fff;
  font-size: 10px;
}

.book__btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.footer__body {
  margin: 0 auto;
  max-width: 1400px;
}

.footer__row {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-bottom: 57px;
}

.footer__row::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #ededed;
  width: 1400px;
  height: 1px;
}

.footer__img {
  margin-top: 30px;
}

.footer__img img {
  padding-right: 10px;
}

.footer-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4a4a4a;
}

.footer-text {
  padding-top: 30px;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.32px;
  text-align: left;
  color: #616161;
}

.painting {
  margin: 0 auto;
}

.painting p {
  margin: 60px 25px 50px 28px;
  padding-bottom: 50px;
  font-size: 15px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #616161;
}

@media (max-width: 1394px) {
  .find__card.Indonesia {
    margin: 0% 2.5% 5% 2.5%;
  }
  .footer__row {
    padding: 20px;
    gap: 20px;
  }
}

@media (max-width: 1267px) {
  .Blog_title.Istunbul {
    margin: 10px;
  }
  .Blog_text.Istunbultext {
    margin: 10px;
  }
}

@media (max-width: 1170px) {
  .container {
    max-width: 970px;
    max-height: 2000px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .header {
    background-position: center;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__title {
    margin-top: 27%;
  }
  .welcome__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title {
    margin: 10% 0px 30px 0px;
  }
  .welcome__card.second {
    margin: 0px 22px 5% 0px;
  }
  .welcome__card.first {
    margin: 0px 22px 5% 0px;
  }
  .find__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .find__title {
    margin-top: 20%;
  }
  .find__card.Indonesia {
    margin: 0% 2.5% 5% 2.5%;
  }
  .Blog__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Blog__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 286px))[2];
        grid-template-columns: repeat(2, minmax(15rem, 286px));
    -ms-grid-rows: (minmax(10rem, 207px))[3];
        grid-template-rows: repeat(3, minmax(10rem, 207px));
    gap: 30px;
  }
  .Blog__row {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
  }
  .Blog__item.item_6 {
    -ms-grid-row: 5;
        grid-row-start: 5;
    aspect-ratio: 3 / 2;
  }
}

@media (max-width: 992px) {
  .header__title {
    margin-top: 23%;
  }
  .welcome__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title {
    margin: 10% 0px 30px 0px;
  }
  .welcome__card {
    margin: 0px 22px 10% 0px;
  }
  .find__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .find__title {
    margin-top: 20%;
  }
  .find__card.Indonesia {
    margin: 0% 2.5% 5% 2.5%;
  }
  .comments__card::before {
    left: -80px;
  }
  .comments__card::after {
    right: -60px;
  }
  .book__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px;
  }
  .book__btn {
    max-width: 178px;
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .book__text {
    text-align: center;
  }
}

@media (max-width: 957px) {
  .find__card.Thailand {
    margin: 10% 2.5% 0%;
  }
  .comments__card::before {
    content: "";
  }
  .comments__card::after {
    content: "";
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .header__title {
    margin-top: 9%;
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
  }
  .header__title {
    margin-top: 20%;
    font-size: 60px;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__items {
    position: fixed;
    top: 0;
    right: -100%;
    width: 73%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 100px 0px 0px 0px;
    z-index: 3;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header__items.active {
    right: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding: 50px 0px 0px 0px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    font-size: 24px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__subtitle {
    font-size: 20px;
  }
  .header__btn {
    margin-top: 10%;
  }
  .header__btn span {
    font-size: 14px;
  }
  .welcome__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    gap: 20px;
  }
  .welcome__subtitle {
    margin-bottom: 5%;
  }
  .welcome__card {
    padding: 100px 50px 50px 50px;
  }
  .welcome__card.second {
    margin: 0px 0px 7% 0px;
  }
  .welcome__card.first {
    margin: 0px 0px 7% 0px;
  }
  .welcome__card.third {
    margin: 0px 0px 7% 0px;
  }
  .welcome__card.active {
    text-align: center;
    width: 309px;
    height: 309px;
    padding: 80px 50px 50px 50px;
    border: 1px solid #a09e9e;
    border-radius: 10px;
  }
  .welcome__card.active:hover {
    background-size: cover;
    text-align: left;
    border: 1px solid #cccccc;
    border-radius: 15px;
    padding: 70px 20px 20px 20px;
    -webkit-box-shadow: 20px 15px 10px gray;
            box-shadow: 20px 15px 10px gray;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .welcome__card.active:hover .welcome__cardtext {
    position: relative;
    opacity: 1;
    color: white;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .welcome__card.active:hover .welcome__cardtitle {
    position: relative;
    color: white;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .welcome__card.active:hover .welcome__icon {
    position: relative;
    margin: 0;
    -webkit-transition-duration: all 1s;
            transition-duration: all 1s;
  }
  .welcome__card.first.active:hover {
    background-image: url("../img/Best Price.jpg");
    background-position: center;
  }
  .welcome__card.first.active:hover:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .welcome__card.second.active:hover {
    background-image: url("../img/Best travel.jpg");
    background-position: center;
  }
  .welcome__card.second.active:hover:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .welcome__card.third.active:hover {
    background-image: url("../img/Trast Safety.jpg");
    background-position: right;
  }
  .welcome__card.third.active:hover:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .first {
    margin: 0px 0px 0px 0px;
  }
  .find__content {
    max-width: 3000px;
  }
  .find__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0px;
  }
  .find__row::after {
    bottom: 0px;
  }
  .find__title {
    margin-top: 60%;
  }
  .find__card.Thailand {
    margin: 10% 0px 2.5% 0px;
  }
  .find__card.Australia {
    margin: 10% 0px 5% 0px;
  }
  .find__card.France {
    margin: 10% 0px 5% 0px;
  }
  .find__card.Indonesia {
    margin: 10% 0px 5% 0px;
  }
  .find__card.Malaysia {
    margin: 10% 0px 5% 0px;
  }
  .find__card.UAE {
    margin: 10% 0px 5% 0px;
  }
  .comments__content {
    max-height: 100%;
  }
  .comments__content {
    margin-bottom: 20%;
  }
  .comments__card::before {
    content: "";
  }
  .comments__card::after {
    content: "";
  }
  .comments__card {
    max-width: 400px;
  }
  .comments__card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .comments__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .book.container {
    max-width: 100%;
    padding: 0;
  }
}

@media (max-width: 640px) {
  .Blog__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 286px))[2];
        grid-template-columns: repeat(2, minmax(15rem, 286px));
    -ms-grid-rows: (minmax(10rem, 207px))[2];
        grid-template-rows: repeat(2, minmax(10rem, 207px));
    gap: 20px;
  }
  .Blog__item.item_2 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    max-height: 207px;
  }
  .Blog__item.item_5 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 8;
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .Blog__item_picture .picture_2 {
    min-height: 207px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 350px;
    max-height: 100%;
    margin: 0 auto;
  }
  .header__items {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 100px 0px 0px 0px;
    z-index: 3;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .welcome__card {
    padding: 90px 50px 50px 12%;
  }
  .Blog__row {
    max-width: 400px;
  }
  .Blog__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 286px))[1];
        grid-template-columns: repeat(1, minmax(15rem, 286px));
    -ms-grid-rows: (minmax(10rem, 207px))[10];
        grid-template-rows: repeat(10, minmax(10rem, 207px));
    gap: 20px;
  }
  .Blog__item.item_1 {
    max-width: 100%;
  }
  .Blog__item.item_2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    max-width: 286px;
    margin: 0 auto;
  }
  .Blog__item.item_3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    max-height: 100%;
    max-width: 286px;
    aspect-ratio: 3 / 2;
  }
  .Blog__item.item_5 {
    -ms-grid-row: 6;
        grid-row-start: 6;
    max-width: 286px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }
  .Blog__item.item_4 {
    -ms-grid-row: 9;
        grid-row-start: 9;
    max-width: 286px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    grid-row-end: 11;
  }
  .Blog__item.item_6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    max-height: 100%;
    max-width: 286px;
  }
  .Blog_title.Istunbul {
    margin: 35px 20px 20px 20px;
  }
  .Blog_text.Istunbultext {
    margin: 20px;
  }
  .Blog_title.blogtitle {
    margin: 30px 20px 20px 40px;
  }
  .Blog_text.Shimatext {
    margin: 40px 20px 20px 40px;
  }
  .Blog_text.text {
    margin: 30px 20px 10px 40px;
  }
  .comments__container {
    max-width: 100%;
    padding: 0 0px;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    gap: 60px;
  }
  .slick-arrow {
    opacity: 0;
  }
}

@media (max-width: 380px) {
  .header__items {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 100px 0px 0px 0px;
    z-index: 3;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
}
