@import "_nullstyle";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
	cursor: default;
	font-family: "Roboto";
	font-size: 10px;
}

.wrapper {
	max-width: 100%;
	min-height: 100%;
}

.container {
	max-width: 1276px;
	min-height: 100%;
	margin: 0 auto;
}

header {
	height: 100vh;
}

.header {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	background-image: url("./img/BG-header.jpg");
	width: 100%;
	display: block;
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&:before {
		content: "";
		display: block;
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__menu {
		margin: 0 auto;
		position: relative;
		padding: 20px 0px 40px 0px;
		font-size: 16px;
		line-height: 37px;
		letter-spacing: 0.3px;
		li {
			margin: 0px 20px 0px 0px;
		}
		a {
			color: white;
			&:hover {
				text-shadow: 0px 0px 10px white;
			}
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 10px;
			right: 0px;
			background-color: #8795a9;
			width: 100%;
			height: 1px;
		}
	}

	&__title {
		position: relative;
		font-size: 80px;
		color: white;
		text-align: center;
		margin-top: 15%;
	}

	&__subtitle {
		position: relative;
		text-align: center;
		color: white;
		font-size: 20px;
		margin-top: 30px;
	}

	&__btn {
		position: relative;
		max-width: 255px;
		height: 50px;
		margin: 0 auto;
		text-align: center;
		background-color: #fbad27;
		padding-top: 16px;
		border-radius: 24px;
		// cursor: pointer;
		// transition: 0.3s ease;

		// &:hover {
		// 	transform: scale(0.9);
		// 	transition: 0.3s ease;
		// }
		span {
			color: white;
			font-size: 16px;
		}
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.btn {
	margin-top: 30px;
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		transform: scale(0.9);
		transition: 0.3s ease;
	}
}
/*
! WELCOME DIV
*/
.welcome {
	max-width: 974px;
	text-align: center;
	margin: 0 auto;
	padding-top: 5%;

	&__text {
	}

	&__title {
	}

	&__subtitle {
		font-size: 16px;
		margin-bottom: 15%;
		line-height: 1.56;
		letter-spacing: 0.32px;
		text-align: center;
		color: #757575;
	}

	&__content {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -70px;
			right: 0px;
			background-color: #989faa;
			width: 100%;
			height: 1px;
		}
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__card {
		text-align: center;
		width: 309px;
		height: 309px;
		margin: 0px 22px 10% 0px;
		padding: 80px 50px 50px 50px;
		border: 1px solid #a09e9e;
		border-radius: 10px;
		&:hover {
			background-size: cover;
			text-align: left;
			border: 1px solid #cccccc;
			border-radius: 15px;
			padding: 70px 20px 20px 20px;
			box-shadow: 20px 15px 10px gray;
			.welcome__cardtext {
				position: relative;
				opacity: 1;
				color: white;
				transition-duration: 0.5s;
			}
			.welcome__cardtitle {
				position: relative;
				color: white;
				transition-duration: 0.5s;
			}
			.welcome__icon {
				position: relative;
				margin: 0;
				transition-duration: all 1s;
			}
			transition: 1s ease;
		}
	}

	&__items {
		height: 189px;
		width: 203px;
	}
	&__icon {
		width: 42px;
		height: 40px;
		margin: 0 auto;
	}

	&__cardtitle {
		margin: 30px 0px 30px 0px;
		font-size: 18px;
		color: #4a4a4a;
	}

	&__cardtext {
		opacity: 0;
		font-size: 16px;
		color: #757575;
	}
}

.first {
	position: relative;
	overflow: hidden;
	&:hover {
		background-image: url("../img/Best/Price.jpg");
		background-position: center;
		&:before {
			content: "";

			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}
.second {
	position: relative;
	overflow: hidden;

	&:hover {
		background-image: url("../img/Best/travel.jpg");
		background-position: center;
		&:before {
			content: "";

			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}
.third {
	position: relative;
	overflow: hidden;

	&:hover {
		background-image: url("../img/Trast/Safety.jpg");
		background-position: right;

		&:before {
			content: "";

			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
}

.title {
	margin: 0px 0px 30px 0px;
	font-size: 50px;
	line-height: 1.3;
	letter-spacing: 1px;
	text-align: center;
	color: #4a4a4a;
}
/*
	! FIND DIV	
*/

.find {
	&__content {
		max-width: 1600px;
		margin: 0 auto;
	}
	.container {
		max-width: 100%;
		max-height: 100%;
	}
	&__text {
	}

	&__title {
		margin-top: 15%;
	}

	&__subtitle {
		font-size: 20px;
		line-height: 1.25;
		letter-spacing: 0.4px;
		text-align: center;
		color: #616161;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 20px;
			right: 0px;
			left: 0;
			background-color: #ededed;
			width: 100%;
			height: 1px;
		}
	}

	&__card {
		width: 395px;
		height: 400px;
		background-color: #b2b2b2;
		margin: 5% 2.5% 5% 2.5%;
		position: relative;
		border: 1px solid #b2b2b2;
		border-radius: 10px;
		overflow: hidden;
		transition-duration: 1s;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.4);
		}
		&:hover {
			box-shadow: 30px 20px 20px gray;
			transform: scale(1.1);
		}
	}

	&__cardtitle {
		margin-top: 50px;
		text-align: center;
		font-size: 27px;
		font-weight: bold;
		line-height: 1.46;
		letter-spacing: 0.48px;
		color: #fff;
		position: relative;
	}

	&__cardimg {
	}
}

.secondrow {
	margin-top: 0px;
}

.Thailand {
	background-image: url("../img/Thailand.JPG");
	background-size: cover;
}

.Australia {
	background-image: url("../img/Australia.JPG");
	background-size: cover;
	background-position: right;
}

.Indonesia {
	background-image: url("../img/Indonesia.JPG");
	background-size: cover;
}

.France {
	background-image: url("../img/France.JPG");
	background-size: cover;
	background-position: right;
}

.Malaysia {
	background-image: url("../img/Malaysia.JPG");
	background-size: cover;
}

.UAE {
	background-image: url("../img/UAE.JPG");
	background-size: cover;
}

.title {
}
.subtitle {
	font-size: 20px;
	line-height: 1.25;
	letter-spacing: 0.4px;
	text-align: center;
	color: #616161;
}
/*
	! BLOG DIV	
*/

.Blog {
	.container {
		max-width: 1335px;
		margin: 0 auto;
		padding: 0px 20px;
	}
	&__content {
		// margin: 0 auto;
		margin-top: 5%;
		padding-bottom: 100px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0px;
			right: 0px;
			background-color: #ededed;
			width: 1300px;
			height: 1px;
		}
	}

	&__title {
	}

	&__subtitle {
		margin-bottom: 134px;
	}

	&__row {
		// margin: 0px 55px 0px 65px;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(4, minmax(10rem, 286px));
		grid-template-rows: repeat(3, minmax(5rem, 207px));

		gap: 50px;
	}
	&__item {
		// border: rgb(26, 167, 61) 3px solid;
		max-width: 100%;
		max-height: 100%;
	}
	&__item.item_1 {
		background-image: url(../img/places/Background.jpg);
		background-size: cover;
		background-position: center;
		grid-column-start: span 2;
		grid-row-start: span 2;
	}
	&__item.item_2 {
		grid-row-start: span 2;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.picture_1 {
		max-width: 286px;
		min-height: 207px;
		object-fit: cover;
		object-position: center;
	}
	.text_1 {
		// max-height: 250px;
	}

	&__item.item_3 {
		background-image: url(../img/places/Travel.jpg);
		background-size: cover;
	}
	&__item.item_4 {
		grid-row-start: span 2;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.picture_2 {
		max-width: 286px;
		min-height: 207px;
		object-fit: cover;
		object-position: center;
	}
	.Shimatext {
		margin: 25px 25px 20px 25px;
		font-size: 16px;
		letter-spacing: 0.32px;
		text-align: left;
		color: #757575;
		line-height: 1.56;
	}
	&__item.item_5 {
		grid-column-start: span 2;
		display: flex;
		flex-direction: row-reverse;
	}
	.picture_3 {
		max-width: 286px;
		min-height: 207px;
		object-fit: cover;
		object-position: center;
	}
	.text_3 {
		max-height: 250px;
		overflow: hidden;
	}
	.Istunbul {
		margin: 20px;
		font-size: 25px;
		letter-spacing: 0.4px;
		text-align: left;
		color: #4a4a4a;
	}
	.Istunbultext {
		margin: 20px;
		font-size: 16px;
		letter-spacing: 0.32px;
		text-align: left;
		color: #757575;
		line-height: 1.56;
	}
	&__item.item_6 {
		background-image: url(../img/places/Journey.jpeg);
		background-size: cover;
		// aspect-ratio: 3 / 2;
	}
}
.Blog {
	&__btn {
		color: white;
		position: relative;
		width: 255px;
		height: 50px;
		margin: 0 auto;
		text-align: center;
		background-color: #fbad27;
		padding-top: 16px;
		border-radius: 24px;
		margin-top: 122px;
		cursor: pointer;
		transition: 0.3s ease;
		span {
			color: white;
			font-size: 16px;
		}

		&:hover {
			transform: scale(0.9);
			transition: 0.3s ease;
		}
	}
}

.btn {
	color: white;
}
.blogtitle {
	margin: 25px 25px 20px 25px;
	font-size: 25px;
	letter-spacing: 0.4px;
	text-align: left;
	color: #4a4a4a;
}
.text {
	margin: 25px 25px 20px 25px;
	font-size: 16px;
	letter-spacing: 0.32px;
	text-align: left;
	color: #757575;
	line-height: 1.56;
}

@media (max-width: 1394px) {
	.find__card.Indonesia {
		margin: 0% 2.5% 5% 2.5%;
	}
}

@media (max-width: 1267px) {
	.Blog_title.Istunbul {
		margin: 10px;
	}
	.Blog_text.Istunbultext {
		margin: 10px;
	}
}

@media (max-width: 1170px) {
	.container {
		max-width: 970px;
		max-height: 2000px;
		margin: 0 auto;
		padding: 0 40px;
	}
	.header {
		background-position: center;
	}
	.header__list {
		display: flex;
		flex-wrap: wrap;
		// justify-content: end;
	}
	.header__title {
		margin-top: 27%;
	}
	.welcome__row {
		display: flex;
		flex-wrap: wrap;
	}
	.title {
		margin: 10% 0px 30px 0px;
	}
	.welcome__card.second {
		margin: 0px 22px 5% 0px;
	}
	.welcome__card.first {
		margin: 0px 22px 5% 0px;
	}
	.find__row {
		display: flex;
		flex-wrap: wrap;
	}
	.find__title {
		margin-top: 20%;
	}
	.find__card.Indonesia {
		margin: 0% 2.5% 5% 2.5%;
	}
	.Blog__body {
		display: flex;
		flex-direction: column;
	}

	.Blog__body {
		display: grid;
		grid-template-columns: repeat(2, minmax(15rem, 286px));
		grid-template-rows: repeat(3, minmax(10rem, 207px));
		gap: 30px;
	}
	.Blog__row {
		max-width: fit-content;
		margin: 0 auto;
	}
	.Blog__item.item_6 {
		grid-row-start: 5;
		aspect-ratio: 3 / 2;
	}
}
@media (max-width: 992px) {
	.header__title {
		margin-top: 23%;
	}
	.welcome__row {
		display: flex;
		flex-wrap: wrap;
	}
	.title {
		margin: 10% 0px 30px 0px;
	}
	.welcome__card {
		margin: 0px 22px 10% 0px;
	}
	.find__row {
		display: flex;
		flex-wrap: wrap;
	}
	.find__title {
		margin-top: 20%;
	}
	.find__card.Indonesia {
		margin: 0% 2.5% 5% 2.5%;
	}
	// .find__card.Thailand {
	// 	margin: 10% 5% 2.5% 2.5;
	// }
}
@media (max-width: 957px) {
	.find__card.Thailand {
		margin: 10% 2.5% 0%;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: 500px;
		min-height: 103px;
		margin: 0 auto;
	}
	.header__title {
		margin-top: 20%;
		font-size: 60px;
	}
	.header__subtitle {
		font-size: 20px;
	}
	.header__btn {
		margin-top: 30%;
	}
	.header__btn span {
		font-size: 14px;
	}
	.welcome__row {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 100%;
	}
	.welcome__subtitle {
		margin-bottom: 5%;
	}
	// .title {
	// 	margin: 15% 0px 30px 0px;
	// }
	.welcome__card {
		padding: 90px 50px 50px 50px;
	}
	.welcome__card.second {
		margin: 0px 0px 7% 0px;
	}
	.welcome__card.first {
		margin: 0px 0px 7% 0px;
	}
	.welcome__card.third {
		margin: 0px 0px 7% 0px;
	}
	.first {
		margin: 0px 0px 0px 0px;
	}
	.find__content {
		max-width: 3000px;
	}
	.find__row {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0px;
	}
	.find__row::after {
		bottom: 0px;
	}
	.find__title {
		margin-top: 60%;
	}
	.find__card.Thailand {
		margin: 10% 0px 2.5% 0px;
	}
	.find__card.Australia {
		margin: 10% 0px 5% 0px;
	}
	.find__card.France {
		margin: 10% 0px 5% 0px;
	}
	.find__card.Indonesia {
		margin: 10% 0px 5% 0px;
	}
	.find__card.Malaysia {
		margin: 10% 0px 5% 0px;
	}
	.find__card.UAE {
		margin: 10% 0px 5% 0px;
	}
}
@media (max-width: 640px) {
	.Blog__body {
		display: grid;
		grid-template-columns: repeat(2, minmax(15rem, 286px));
		grid-template-rows: repeat(2, minmax(10rem, 207px));
		gap: 20px;
	}
	.Blog__item.item_2 {
		grid-column-start: span 2;
		display: flex;
		flex-direction: row;
		overflow: hidden;
		max-height: 207px;
	}
	.Blog__item.item_5 {
		grid-row-start: 6;
		grid-row-end: 8;
		grid-column-start: span 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.Blog__item_picture {
		.picture_2 {
			min-height: 207px;
		}
	}
}
@media (max-width: 480px) {
	.container {
		max-width: 300px;
		min-height: 103px;
		margin: 0 auto;
	}
	.welcome__card {
		padding: 90px 50px 50px 10px;
	}
	.Blog__row {
		max-width: 400px;
	}
	.Blog__body {
		display: grid;
		grid-template-columns: repeat(1, minmax(15rem, 286px));
		grid-template-rows: repeat(10, minmax(10rem, 207px));
		gap: 20px;
	}
	.Blog__item.item_1 {
		max-width: 100%;
	}
	.Blog__item.item_2 {
		grid-row-start: 3;
		grid-row-end: 5;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		max-height: 100%;
		max-width: 286px;
		margin: 0 auto;
	}
	.Blog__item.item_3 {
		grid-column-start: 1;
		grid-column-end: 3;
		margin: 0 auto;
		max-height: 100%;
		max-width: 286px;
		aspect-ratio: 3 / 2;
	}
	.Blog__item.item_5 {
		grid-row-start: 6;
		max-width: 286px;
		grid-column-start: 1;
		grid-column-end: 3;
		margin: 0 auto;
	}
	.Blog__item.item_4 {
		grid-row-start: 9;
		max-width: 286px;
		grid-column-start: 1;
		grid-column-end: 3;
		margin: 0 auto;
		grid-row-end: 11;
	}
	.Blog__item.item_6 {
		grid-column-start: 1;
		grid-column-end: 3;
		margin: 0 auto;
		max-height: 100%;
		max-width: 286px;
	}
	.Blog_title.Istunbul {
		margin: 35px 20px 20px 20px;
	}
	.Blog_text.Istunbultext {
		margin: 20px;
	}
	.Blog_title.blogtitle {
		margin: 30px 20px 20px 40px;
	}
	.Blog_text.Shimatext {
		margin: 40px 20px 20px 40px;
	}
	.Blog_text.text {
		margin: 30px 20px 10px 40px;
	}
}
